<!DOCTYPE html>
<html lang="en">
<head>
  <title>PHOTOZA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/gallery.css" type = "text/css">
  <link rel="stylesheet" href="/public/css/scroll.css" type = "text/css">
  <link rel="stylesheet" href="/public/css/main.css" type = "text/css">
  <link rel="stylesheet" href="/public/css/media-gallery.css" type = "text/css">
  <link rel="shortcut icon" href="/public/image/ico.png" type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="page-gallery">
  {{>menu}}

<div class="gallery-box">
  <div class="title-box">
    <div class="back"><a href="{{back_href}}"><img src="/public/image/icons8-back-arrow-501.png"></a></div>
    <div class="title">Галерея</div>
  </div>

<div class="block1" id="block1">
  {{#each file}}
  <div class="foto"><a class="showImage" id="{{this._id}}"><img src="{{this.imgshort}}"></a></div>
  {{/each}}

</div>

<div class="block2">
  <div class="foto1" id="mainfoto"><img src="{{main_img.path}}"></div>
</div>

    <div class="comments">
      <div class="comments__title">Комментарии</div>
      {{#if session_user}}
        <form class="comments__your" id="commentForm">
            <div class="photo"><img src="{{user.image}}"></div>
            <div class="information">
              <input type="text" class="name" name="user_image" id="user_image" value="{{user.image}}"  style="display:none">
              <input type="text" class="name" name="userId" id="userId" value="{{user._id}}"  style="display:none">
              <input type="text" class="name" name="imageId" id="imageId" value="{{main_img._id}}"  style="display:none">
              <input type="text" class="name" name="userName" id="userName" value="{{user.firstName}}{{user.lastName}}" style="border:none;"><br>
              <textarea class="text" type="text" name="comment" id="comment" placeholder="Введите Ваш текст..."></textarea>
              <button type="submit" class="send">Отправить</button>
            </div>
        </form>
        {{else}}
        Чтобы оставить комментарий, автторизуйтесь на сайте
    {{/if}}

      <div class="comments__title" id="list-comment"></div>

      {{#each main_img.comments}}
        <div class="comments__all" id="comments__all">
          <div class="photo"><img src="{{this.userimage}}"></div>
          <div class="information">
            <div class="box-data">
              <div class="name">{{this.userName}}</div>
              <div class="date">{{this.date}}</div>
            </div>
          <div class="text">{{this.userComment}}</div>
          </div>
        </div>
      {{/each}}
    </div>
<footer class="footer">
    © 2019 «PHOTOZA»
</footer>

<script type="text/javascript" src="/public/js/gallery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>