<!DOCTYPE html>
<html lang="en">
<head>
  <title>PHOTOZA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/main.css" type = "text/css">
  <link rel="stylesheet" href="/public/css/dialog.css" type = "text/css">
  <link rel="stylesheet" href="/public/css/scroll.css" type = "text/css">
  <link rel="stylesheet" href="/public/css/media-dialog.css" type = "text/css">
  <link rel="shortcut icon" href="/public/image/ico.png" type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="dialog-page">
  {{>menu}}
  <div class="dialog">

    {{#each user.dialog}}
    <div class="dialog-box">
      <a href="/site/dialog/{{this._id}}/{{this.recipient_id}}">
        <div class="dialog-box__photo"><img src="{{this.image}}"></div>
        <div class="dialog-box__information">
          <div class="name"><span>{{this.name}}</span></div>
          <div class="message"><span>{{this.new_messange}}</span></div>
        </div>
      </a>
    </div>
    {{/each}}

  </div>
</body>
</html>
